<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>UpCloud</title>
  <!-- Favicon -->
  <link href="../assets/img/brand/favicon.ico" rel="icon" type="image/ico">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- CSS -->
  <link type="text/css" href="../assets/css/style.css?v=1.0.0" rel="stylesheet">
  <!--SHARE THIS-->
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c54447bfec5f10011f26189&product=inline-share-buttons'
  async='async'></script>
  <!-- Zendesk Widget -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1a21e516-8a63-423f-9750-6cfae94062e1"> </script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>UPLOADCARE_PUBLIC_KEY = 'bf45cf9b52b17ea2e6a2';</script>
  <script>UPLOADCARE_TABS = 'file url gdrive';</script>
  <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js"></script>
  <script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.min.js"></script>

</head>
<body>
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="../components/login.html">
        <img src="../assets/img/brand/cloud.png" class="navbar-brand-img" alt="..."> UpCloud
      </a>
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="../assets/img/brand/cloud.png"> UpCloud
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../components/dashboard.html">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">SUPPORT</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://uploadcare.com/docs/" target="_blank">
              <i class="fas fa-file-alt"></i></i> Documentation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../components/contact.html">
              <i class="fas fa-envelope"></i> Contact Us
            </a>
          </li>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
      </div>
    </nav>

    <div class="container mt-4">
        <div class="float-right mb-4 mt-2">
            <input type="hidden" role="uploadcare-uploader" id="uploadedImage"
            data-preview-step="true">
        </div>
      
        <h2 class="mb-4">Dashboard</h2>
      
        <div class="row" id="imagesContainer"></div>
      </div>

      <script>
          window.UPLOADCARE_PUBLIC_KEY = 'bf45cf9b52b17ea2e6a2'
        uploadcare.registerTab('preview', uploadcareTabEffects)

        const widget = uploadcare.Widget('[role=uploadcare-uploader]')
        let images = []

        widget.onUploadComplete(function(info) {
          saveImage(info.cdnUrl).then(() => {
            $('#uploadedImage').parent().html('<a href="javascript:refreshPage()">Refresh it!</a>')
          })
        })

        fetchImages().then(uploadedImages => {
          images = uploadedImages

          const imageHtml = images.reduce((html, url) => {
            const fullUrl = `${url}/-/preview/-/scale_crop/200x200/`

            return (
              html +
              '<div class="col" >' +
              '<a href="#" class="d-block mb-4 h-100">' +
              `<img class="img-fluid img-thumbnail" src="${fullUrl}">` +
              '</a>' +
              '</div>'
            )
          }, '')

          $(imageHtml).appendTo('#imagesContainer')
        })

        function fetchImages() {
          return new Promise(resolve => {
            const images = JSON.parse(localStorage.getItem('images') || '[]')

            setTimeout(() => resolve(images), 500)
          })
        }

        function saveImage(url) {
          return new Promise(resolve => {
            images.push(url)
            localStorage.setItem('images', JSON.stringify(images))
            setTimeout(() => resolve(), 500)
          })
        }

        function refreshPage() {
          window.location.href = window.location.href
        }

      </script>

    <!--SHARE THIS-->
    <div class="sharethis-inline-share-buttons"></div>
  <!-- Scripts -->
  <!-- Core -->
  <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- JS -->
  <script src="../assets/js/main.js?v=1.0.0"></script>
</body>
</html>
